/**
 * base styles
 */

* {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3498db;
  outline: none;
  text-decoration: underline;
}

header {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 2em;
}

header h1 {
  margin: 2.2em 0.5em 0.9em 0.5em;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header p {
  letter-spacing: 1px;
}

footer {
  flex-basis: 100%;
  text-align: center;
}

.github-button {
  margin: 6em 0;
  width: 75px;
  height: 30px;
}

.content {
  display: flex;
  flex-basis: 60%;
  justify-content: center;
  flex-wrap: wrap;
}

/**
 * custom styles
 */

.example {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.example iframe {
  max-width: 100%;
}

.changeUrl {
  flex-basis: 100%;
  text-align: center;
  margin-top: 2em;
}

.changeUrl button {;
  padding: 1em 4em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #168add), color-stop(100%, #007ee5));
  border: 1px solid #0c6ebe;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  text-align: center;
}

.changeUrl button:hover,
.changeUrl button:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #168eef), color-stop(100%, #007ee5));
  outline: none;
}

.changeUrl button:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b80d3), color-stop(100%, #0a74cb));
}

/**
 * responsive things
 */

@media(max-width: 1000px) {
  .content {
    flex-basis: 80%;
  }
}

@media(max-width: 700px) {
  .content {
    flex-basis: 90%;
  }
}
